{% extends "base.html" %}

{% block content %}
  <article class="book-page">
    <header>
      <h1>{{ article.title }}</h1>
      <div class="book-cover">
        <img src="{{ SITEURL }}{{ article.metadata.cover }}" alt="{{ article.title }} cover">
      </div>
    </header>
    
    <section class="book-description">
      <p>{{ article.content }}</p>
    </section>

    <div class="cta">
        <hr />
        <h2>Buy Now</h2>
        {{if field_exists buy_link}}<a href="{{buy_link}}" class="buy-button main-buy-button">Buy Now</a>{{/if}}
        <hr />
        
        <!-- Paperback Retailers -->
        <h3>Paperback</h3>
        <div class="buy-links paperback-links">
          {{if field_exists buy_paperback_abebooks}}<a href="{{buy_paperback_abebooks}}" class="buy-button">AbeBooks</a>{{/if}}
          {{if field_exists buy_paperback_amazon}}<a href="{{buy_paperback_amazon}}" class="buy-button">Amazon</a>{{/if}}
          {{if field_exists buy_paperback_barnes_noble}}<a href="{{buy_paperback_barnes_noble}}" class="buy-button">Barnes & Noble</a>{{/if}}
          {{if field_exists buy_paperback_bookshop_org}}<a href="{{buy_paperback_bookshop_org}}" class="buy-button">Bookshop.org</a>{{/if}}
          {{if field_exists buy_paperback_indigo}}<a href="{{buy_paperback_indigo}}" class="buy-button">Indigo</a>{{/if}}
          {{if field_exists buy_paperback_libroworld}}<a href="{{buy_paperback_libroworld}}" class="buy-button">LibroWorld</a>{{/if}}
          {{if field_exists buy_paperback_readings}}<a href="{{buy_paperback_readings}}" class="buy-button">Readings</a>{{/if}}
          {{if field_exists buy_paperback_thalia}}<a href="{{buy_paperback_thalia}}" class="buy-button">Thalia</a>{{/if}}
          {{if field_exists buy_paperback_walmart}}<a href="{{buy_paperback_walmart}}" class="buy-button">Walmart</a>{{/if}}
        </div>

        <!-- eBook Retailers -->
        <h3>eBook</h3>
        <div class="buy-links ebook-links">
            {% if article.buy_ebook_amazon %}<a href="{{buy_ebook_amazon}}" class="buy-button">Amazon</a>{% endif %}
            {% if article.buy_ebook_apple %}<a href="{{buy_ebook_apple}}" class="buy-button">Apple Books</a>{% endif %}
            {% if article.buy_ebook_barnes_noble %}<a href="{{buy_ebook_barnes_noble}}" class="buy-button">Barnes & Noble</a>{% endif %}
            {% if article.buy_ebook_everand %}<a href="{{buy_ebook_everand}}" class="buy-button">Everand</a>{% endif %}
            {% if article.buy_ebook_fable %}<a href="{{buy_ebook_fable}}" class="buy-button">Fable</a>{% endif %}
            {% if article.buy_ebook_indigo %}<a href="{{buy_ebook_indigo}}" class="buy-button">Indigo</a>{% endif %}
            {% if article.buy_ebook_kobo %}<a href="{{buy_ebook_kobo}}" class="buy-button">Kobo</a>{% endif %}
            {% if article.buy_ebook_smashwords %}<a href="{{buy_ebook_smashwords}}" class="buy-button">Smashwords</a>{% endif %}
            {% if article.buy_ebook_thalia %}<a href="{{buy_ebook_thalia}}" class="buy-button">Thalia</a>{% endif %}
            {% if article.buy_ebook_vivlio %}<a href="{{buy_ebook_vivlio}}" class="buy-button">Vivlio</a>{% endif %}
        </div>
    </div>
  </article>
{% endblock %}
